<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RA/Books</title>

  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="icon" href="images/favicon.ico">

  <link rel="stylesheet" type="text/css" href="styles.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/commonmark/0.28.1/commonmark.min.js"></script>
</head>

<body>
  <div id="app" class="container-fluid">
    <div class="row">
      <div class="col-lg-1 visible-lg"></div>
      <div class="col-lg-10 col-md-12">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <h1 class="site-name hidden-xs"><a href="#" class="brand" @click="clearFilter">RA/Books</a> <small>Читайте книги</small></h1>
            <h1 class="site-name site-name-xs visible-xs">RA/Books</h1>
            <div class="float-right">
              <a href="#" data-toggle="modal" data-target="#aboutModal">
                <span class="glyphicon glyphicon-info-sign"></span>
                <span>Про проект</span>
              </a>
              <span class="sep"></span>
              <a :href="statics.telegramChannelLink" target="_blank">
                <span class="glyphicon glyphicon-bell"></span>
                <span>Слідкувати за оновленнями</span>
              </a>
            </div>
          </div>
          <div id="holder-box" class="col-md-4 col-sm-4 col-xs-12" v-cloak>
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">{{user.fullname}}</h4>
                <div>
                  <span>Місто: </span>
                  <span><b>{{user.region}}</b></span>
                </div>
                <div id="social-links" class="btn-group-horizontal" role="group">
                  <a :href="user.telegramLink" class="" target="_blank" title="Мій Telegram">
                    <img :src="statics.telegramLogoUrl" height="20">
                  </a>
                  <a :href="user.instagramLink" class="" target="_blank" title="Мій Instagram">
                    <img :src="statics.instagramLogoUrl" height="20">
                  </a>
                  <a :href="user.goodreadsLink" class="" target="_blank" title="Мій Goodreads">
                    <img :src="statics.goodreadsLogoUrl" height="20">
                  </a>
                </div>
              </div>
              <div class="media-right">
                <img :src="user.imageUrl" class="img-circle user-image" height="64">
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div id="filter-box" class="col-md-12">
            <span>Пошук книг: </span>
            <input type="search" v-model="filterString" placeholder="Автор, назва" class="form-control">
            <a href="#" @click="clearFilter">Очистити</a>
            <!--<input type="checkbox" v-model="filters.showRented"><span> Показувати зайняті книги</span>-->
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div v-if="filteredBooks.length" v-cloak>
              <p>Знайдено <b>{{filteredBooks.length}}</b> книг <span>(сторінка <span>{{page}} з {{pages}}</span>)</span>:</p>

              <div class="row books">
                <div v-for="book in pageBooks" :class="`col-lg-2 col-md-3 col-sm-4 col-xs-12 ` + (book.isRented ? 'book-rented' : 'book')">
                  <div class="thumbnail row">
                    <div class="book-cover col-sm-12 col-xs-6">
                      <img :src="book.coverUrl || statics.defaultCoverUrl" style="max-width: 100%; max-height: 200px">
                    </div>
                    <div class="book-info col-sm-12 col-xs-6 caption">
                      <p class="book-title" :title="book.title">{{book.title}}</p>
                      <p class="book-author">
                        <b>
                          <a href="#" @click="filterByContents" :title="book.author">{{book.author}}</a>
                        </b>
                      </p>
                      <p>
                        <small class="reviews">
                          <a v-if="book.externalUrl" :href="book.externalUrl + `#tab-reviews`" target="_blank">Відгуки
                            (Yakaboo)</a>
                          <span v-else class="text-muted">Відгуки відсутні</span>
                        </small>
                      </p>
                      <p>
                        <a href="#" class="btn btn-primary select-book" role="button" data-toggle="modal" data-target="#borrowModal"
                          @click="selectBook(book)">Позичити</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <nav id="paginator">
                <ul class="pager">
                  <li :class="page &lt;= 2 ? 'invisible' : ''"><a href="#" @click="firstPage">&lt;&lt;</a></li>
                  <li :class="page &lt;= 1 ? 'invisible' : ''"><a href="#" @click="prevPage">&lt;</a></li>
                  <span> {{page}} з {{pages}} </span>
                  <li :class="page &gt;= pages ? 'invisible' : ''"><a href="#" @click="nextPage">&gt;</a></li>
                  <li :class="page &gt;= pages - 1 ? 'invisible' : ''"><a href="#" @click="lastPage">&gt;&gt;</a></li>
                </ul>
              </nav>
            </div>
            <div v-if="loading" class="alert alert-info">
              <p>Розкладаю книги по полицях ...</p>
            </div>
            <div v-if="notFound" class="alert alert-warning" v-cloak>
              <p>Книг за запитом "{{filterString}}" не знайдено</p>
            </div>
          </div>
        </div>
        <!-- About Modal -->
        <div id="aboutModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLongTitle"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="about"></div>
                <br/>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdK2V8tHDgH7Xyrjs6HtHJoWsZPCoUuPKMcuoEWubjyb2zWrQ/viewform?embedded=true" width="100%" height="987" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Borrow Modal -->
        <div id="borrowModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLongTitle"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="selectedBook">

                <div class="media">
                  <div class="media-left">
                    <img :src="user.imageUrl" class="img-circle" height="32">
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading"><b>{{user.fullname}}</b></h5>
                    <p>Зв'яжись зі мною, щоб отримати книгу:</p>
                    <div id="contact-links" class="btn-group-horizontal" role="group">
                      <a :href="user.telegramLink" class="btn btn-default" target="_blank">
                        <img :src="statics.telegramLogoUrl" height="20">
                        <span class="hidden-xs">Telegram</span>
                      </a>
                      <a :href="user.instagramLink" class="btn btn-default" target="_blank">
                        <img :src="statics.instagramLogoUrl" height="20">
                        <span class="hidden-xs">Instagram</span>
                      </a>
                      <a :href="`mailto:` + user.emailLink" class="btn btn-default" target="_blank">
                          <img :src="statics.gmailLogoUrl" height="20">
                          <span class="hidden-xs">E-Mail</span>
                        </a>
                    </div>
                  </div>
                </div>
                <hr />
                <div style="text-align: center;">
                  <h3>{{selectedBook.title}} <span v-if="selectedBook.isRented" class="label label-danger">зайнята</span></h3>
                  <p>
                    <b>
                      <span>{{selectedBook.author}} </span>
                    </b>
                  </p>
                  <img :src="selectedBook.coverUrl || statics.defaultCoverUrl" style="max-width: 100%; max-height: 80%;">
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>