<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Books</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.9/jquery.csv.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <h1>Books</h1>
    <p>
      <a href="https://www.goodreads.com/user/show/51764433-ruslan-hadyniak" target="_blank">
        <span>Follow me on </span>
        <img src="https://www.goodreads.com/assets/doodle/choice_awards_2018/desktop_gr_logo.png" height="32">
      </a>
    </p>
    <div id="app">
      <p>{{allBooks.length}} books available:</p>
      <ul>
        <li v-for="book in allBooks" :class="book.isRented ? 'book-rented' : 'book'">
          <img v-if="book.coverUrl" :src="book.coverUrl" height="32">
          <span>"{{book.title}}"</span>
          <span> by </span>
          <b>{{book.author}}</b>
          <a v-if="book.externalUrl" :href="book.externalUrl" target="_blank">Link</a>
        </li>
      </ul>
    </div>
  <script src="app.js"></script>
</body>
</html>
