.site-name {
  color: darkslategrey;
  font-weight: bold;
}
#holder-box {
  margin-bottom: 10px;
}
.book-title {
  font-size: 16px;
  font-weight: bold;
}
.book-title, .book-author {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-rented {
  opacity: 0.5;
}
.sep::before {
  content: "•";
  padding: 5px;
}
.thumbnail {
  border: 0px solid white;
}
.books {
  display: flex;
  flex-wrap: wrap;
}
#social-links {
  margin-top: 5px;
}
.reviews {
  margin-left: 10px;
}
#contact-links {
  margin-bottom: 10px;
}